<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5>{{title}}</h5>
        <p>Posted by {{name}} on {{date_created}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
        <a href="/update/{{id}}">Edit or Delete Post</a>
    </div>
</div>
<br>